## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df_clean = application_df.drop(columns=['EIN'])
app_df_clean.head(2)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1

In [ ]:
# Determine the number of unique values in each column.
app_df_clean.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at IS_SUCCESSFUL column
app_df_clean['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [ ]:
# Look at SPECIAL_CONSIDERATIONS column
app_df_clean['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [ ]:
# Look at STATUS column
app_df_clean['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [ ]:
# remove columns
app_df_clean = app_df_clean.drop(columns=['STATUS', 'SPECIAL_CONSIDERATIONS'])
app_df_clean.head(2)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = app_df_clean['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_counts = app_df_clean['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >10
class_counts[class_counts > 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    app_df_clean['CLASSIFICATION'] = app_df_clean['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df_clean = pd.get_dummies(app_df_clean)
app_df_clean.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = app_df_clean['IS_SUCCESSFUL'].values
X = app_df_clean.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train[0])


nn_model = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=75, activation="relu", input_dim=num_input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=50, activation="relu", input_dim=50))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=25, activation="relu", input_dim=50))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 75)                1471275

 dense_5 (Dense)             (None, 50)                3800

 dense_6 (Dense)             (None, 25)                1275

 dense_7 (Dense)             (None, 1)                 26

=================================================================
Total params: 1,476,376
Trainable params: 1,476,376
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 16s 18ms/step - loss: 0.4719 - accuracy: 0.7774
Epoch 2/50
804/804 [==============================] - 14s 17ms/step - loss: 0.1683 - accuracy: 0.9350
Epoch 3/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0977 - accuracy: 0.9621
Epoch 4/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0939 - accuracy: 0.9621
Epoch 5/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0920 - accuracy: 0.9628
Epoch 6/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0914 - accuracy: 0.9623
Epoch 7/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0905 - accuracy: 0.9631
Epoch 8/50
804/804 [==============================] - 16s 20ms/step - loss: 0.0901 - accuracy: 0.9634
Epoch 9/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0895 - accuracy: 0.9630
Epoch 10/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0886 - accuracy: 0.9640
Epoch 11/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0889 - accuracy: 0.9635
Epoch 12/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0883 - accuracy: 0.9639
Epoch 13/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0874 - accuracy: 0.9646
Epoch 14/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0875 - accuracy: 0.9643
Epoch 15/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0875 - accuracy: 0.9640
Epoch 16/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0869 - accuracy: 0.9648
Epoch 17/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0866 - accuracy: 0.9647
Epoch 18/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0861 - accuracy: 0.9648
Epoch 19/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0860 - accuracy: 0.9652
Epoch 20/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0853 - accuracy: 0.9651
Epoch 21/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0856 - accuracy: 0.9649
Epoch 22/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0847 - accuracy: 0.9657
Epoch 23/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0845 - accuracy: 0.9654
Epoch 24/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0843 - accuracy: 0.9661
Epoch 25/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0843 - accuracy: 0.9659
Epoch 26/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0842 - accuracy: 0.9654
Epoch 27/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0835 - accuracy: 0.9659
Epoch 28/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0835 - accuracy: 0.9662
Epoch 29/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0829 - accuracy: 0.9657
Epoch 30/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0824 - accuracy: 0.9665
Epoch 31/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0824 - accuracy: 0.9668
Epoch 32/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0823 - accuracy: 0.9668
Epoch 33/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0822 - accuracy: 0.9667
Epoch 34/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0822 - accuracy: 0.9668
Epoch 35/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0814 - accuracy: 0.9668
Epoch 36/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0816 - accuracy: 0.9670
Epoch 37/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0813 - accuracy: 0.9669
Epoch 38/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0811 - accuracy: 0.9672
Epoch 39/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0810 - accuracy: 0.9673
Epoch 40/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0805 - accuracy: 0.9669
Epoch 41/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0802 - accuracy: 0.9672
Epoch 42/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0802 - accuracy: 0.9673
Epoch 43/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0801 - accuracy: 0.9677
Epoch 44/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0799 - accuracy: 0.9673
Epoch 45/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0797 - accuracy: 0.9675
Epoch 46/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0796 - accuracy: 0.9676
Epoch 47/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0794 - accuracy: 0.9678
Epoch 48/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0788 - accuracy: 0.9679
Epoch 49/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0793 - accuracy: 0.9678
Epoch 50/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0791 - accuracy: 0.9680

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.6428 - accuracy: 0.7624 - 2s/epoch - 6ms/step
Loss: 0.6428171396255493, Accuracy: 0.7624489665031433

In [ ]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')

# New Section